:root {
    --body-bg-color: #fafafa;
    --highlight-color: rgb(255, 255, 132);
    --highlight-color2: rgb(241, 255, 210);
    --highlight-color2: rgb(255, 255, 132);
    --highlight-color3: greenyellow;
    --special-color: orangered;
    --toolbar-height: 60px;
    --divider-height: 2px;
    --head-height: 59px;
}

@font-face {
    font-family: 'stdfont';
    src: url('../fonts/tgl.31034-1-normal.ttf') format('truetype');
}

.navbar-brand {
    font-family: 'stdfont';
    font-size: 28px;
}

body {
    font-size: 15px;
    line-height: 1.5; 
    background: var(--body-bg-color);
    color: var(--bs-secondary);
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: var(--bs-primary)
}

figcaption {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
figure {
    padding-bottom: 10px;
}

pre {
    font-family: monospace;
    border-radius: 5px;
    overflow-x: auto;
}

#toolbar {
    position: fixed;
    top: 0;
    height: var(--toolbar-height);
    background-color: var(--body-bg-color);
}

#diagramInfo {
    font-family: var(--bs-body-font-family);
    font-weight: var(--bs-body-font-weight);
    font-size: 12px;
    line-height: 1.2; 
}

#diagramArea {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 300;
    position: relative;
    height: 85%;
}

#diagramHeadContainer {
    position: sticky; /* Keep it fixed relative to its nearest scrollable ancestor */
    top: 0;
    /* left: 0; */
    height: var(--head-height);
    overflow-y: hidden;
    overflow-x: hidden;
    visibility: hidden;
    z-index: 10;
    background-color: var(--body-bg-color);
}

#diagramContainer {
    overflow-y: auto;
    overflow-x: auto;
    font-weight: 300;
    height: 100%;
    position: relative;
    top: calc(0px - var(--head-height));
}

#divider {
    height: var(--divider-height);
    background: #ddd;
    cursor: row-resize;
}

#addinfoDisplay {
    height: calc(15vh - var(--divider-height));
    padding: 20px;
    background: var(--body-bg-color);
    overflow-y: auto;
    overflow-x: auto;
}

.content {
    margin-top: var(--toolbar-height);
    height: calc(100vh - var(--toolbar-height));
}

.pagination .page-link {
    color: var(--bs-secondary);
    font-family: monospace;
    font-size: 12px;
    cursor: pointer;
}
.page-item .page-link {
    outline: none;
    box-shadow: none;
    color: inherit;
    background-color: inherit;
}

text.actor-text,
text.head-actor-text {
    cursor: pointer;
    font-weight: 100;
}
text.actor-text:hover,
text.head-actor-text:hover {
    /* stroke: lightgrey; */
    text-decoration: line-through;
    cursor: pointer;
}
text.actor-text.orphan-actor,
text.head-actor-text.orphan-actor {
    fill: lightgrey;
    text-decoration: none;
}
text.actor-text.orphan-actor:hover,
text.head-actor-text.orphan-actor:hover {
    stroke: none;
    cursor: default;
    text-decoration: none;
}
text.actor-text.filtered-actor,
text.head-actor-text.filtered-actor {
    fill: lightgrey;
    text-decoration: line-through;
}
text.actor-text.filtered-actor:hover,
text.head-actor-text.filtered-actor:hover {
    fill: black;
    stroke: black;
    cursor: pointer;
    text-decoration: none;
}

rect.actor-box,
rect.head-actor-box {
    rx: 5;
    ry: 5;
    stroke-width: 2px;
}
rect.actor-box.orphan-actor,
rect.head-actor-box.orphan-actor {
    stroke: none;
}
rect.actor-box.filtered-actor,
rect.head-actor-box.filtered-actor {
    stroke: none;
}

path.filtered-actor.actor-line {
    stroke: none;
}
path.orphan-actor.actor-line {
    stroke: none;
}
path.actor-line:not(.filtered-actor) {
    stroke-width: 1px;
}
path.signal-arrow {
    /* stroke-width: 1px; */
}

text.signal {
    /* fill:grey; */
    stroke: var(--body-bg-color); stroke-width: 8px; paint-order: stroke fill;
    cursor: pointer;
}
text.signal.same-id-signal:not(.instance-highlight-off) {
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: black;
}
text.signal.same-id-signal.special-signal:not(.instance-highlight-off) {
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--special-color);
}
text.signal.related-signal:not(.related-highlight-off) {
    stroke: var(--highlight-color2); stroke-width: 8px; paint-order: stroke fill;
    fill: black;
}
text.signal.related-signal.special-signal:not(.related-highlight-off) {
    stroke: var(--highlight-color2); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--special-color);
}
text.signal:hover {
    /* stroke: black; */
    /* stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill; */
    stroke: var(--highlight-color); stroke-width: 3px; paint-order: stroke fill;
    fill: black;
    font-style: italic;
}
text.special-signal {
    fill: var(--special-color);
    color: var(--special-color);
}
text.special-signal:hover {
    /* stroke: orangered; */
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--special-color);
}
text.clicked-signal.special-signal {
    font-weight: 900;
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--special-color);
    font-style: italic;
}
text.clicked-signal:not(.special-signal) {
    /* stroke: black; */
    font-weight: 900;
    font-style: italic;
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: black;
}
text.seq-num.clicked-signal-seq-num {
    font-style: italic;
    /* stroke: black; */
}

circle.seq-num.clicked-signal-circle {
    /* stroke-width: 2; */
}
circle.seq-num.same-id-signal:not(.instance-highlight-off) {
    fill: var(--highlight-color);
}
circle.seq-num.related-signal:not(.related-highlight-off) {
    /* fill: var(--highlight-color2); */
}
text.seq-num {
    font-family: 'stdfont';
    font-size: 16px;
}
text.seq-num.same-id-signal {
    /* fill: white; */
    /* fill: darkkhaki; */
    /* fill: darkgrey; */
    /* fill: gainsboro; */
}
text.ts {
    font-family: 'stdfont';
    font-size: 20px;
    fill: darkgrey;
}
path.gridline {
    stroke: #f0f0f0;
    stroke-width: 1px;
}
text.ts.clicked-ts {
    fill: black;
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    /* font-weight: bold; */
}

.move {
    cursor: pointer;
    opacity: 0.0;
    fill: black;
    transition: opacity 0.3s ease;
    transition-delay: 0.1s;
}
.move:hover {
    opacity: 1;
    fill: black;
    transition: opacity 0s ease;
}

.btn.btn-asdf {
    border-color: var(--bs-secondary);
    color: var(--bs-secondary);
    border-radius: 10px;
}
.btn.btn-asdf:hover {
    border-color: var(--bs-secondary);
}
.btn-check:checked + .btn.btn-asdf {
    background-color: var(--highlight-color);
}
.btn-check:checked + .btn.btn-asdf:hover {
    text-decoration: line-through;
}
.btn-check:not(:checked) + .btn.btn-asdf:hover {
    border-color: var(--bs-secondary);
    /* color: var(--bs-secondary); */
    text-decoration: underline;
}
