:root {
    --asdf-body-bg-color: #fafafa;
    --asdf-highlight-color: rgb(255, 255, 132);
    --asdf-highlight-color2: rgb(255, 255, 132);
    --asdf-special-color: orangered;
    --asdf-toolbar-height: 65px;
    --asdf-divider-height: 2px;
    --asdf-head-height: 59px;

}

@font-face {
    font-family: 'stdfont';
    src: url('../fonts/tgl.31034-1-normal.ttf') format('truetype');
}

.navbar-brand {
    font-family: 'stdfont';
    font-size: 28px;
}

body {
    font-size: 15px;
    line-height: 1.5; 
    background: var(--asdf-body-bg-color);
    color: var(--bs-secondary);
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: var(--bs-primary)
}
.no-hover *:hover {
    cursor: default;
}

figcaption {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
figure {
    padding-bottom: 10px;
}

.addinfoSection {
    font-family: monospace;
    border-radius: 5px;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-bottom: 0;
}

#diagramSearchInput {
    color: var(--bs-secondary);
    font-family: monospace;
    font-size: 12px;
}
#diagramSearchInput:focus {
    outline: none;
    box-shadow: none;
}
.input-group-text {
    color: var(--bs-secondary);
    font-family: monospace;
    font-size: 12px;
}

.btn-asdf {
    font-family: monospace;
    font-size: 12px;
    --bs-btn-hover-bg: var(--asdf-highlight-color);
    --bs-btn-active-bg: var(--asdf-highlight-color);
    --bs-btn-color: var(--bs-secondary);
    border: none;
}
.btn-check:checked + .btn.btn-asdf {
    /* font-weight: bold; */
    /* background-color: var(--asdf-body-bg-color); */
    border: none;
}
.btn-check:checked + .btn.btn-asdf:hover {
}
.btn-check:not(:checked) + .btn.btn-asdf:hover {
    color: #000;
}

.custom-tooltip {
    --bs-tooltip-opacity: 1;
    --bs-tooltip-color: var(--bs-secondary);
    --bs-tooltip-bg: rgb(237, 237, 237);
}

.multiline {
    white-space: pre-wrap;
    text-align: left;
    /* height: auto; */
    /* display: inline-block; */
    font-size: 12px;
}
.info {
    color: var(--bs-secondary);
    font-family: monospace, var(--bs-body-font-family);
    font-weight: light;
    font-size: 12px;
    border: none;
    outline: none;
    box-shadow: none;
    white-space: nowrap;
}
.dense {
    line-height: 1.2;
}

.shortcut-key {
    font-family: "Courier New", monospace;
    margin-right: 20px;
    font-weight: bold;
}
.shortcut-list {
    padding-left: 8px;
    padding-bottom: 16px;
    list-style-type: none;
    font-family: var(--bs-body-font-family);
}
.shortcut-item {
    margin-bottom: 6px;
    font-size: 14px;
}
.shortcut-item span {
    font-family: "Courier New", monospace;
    margin-right: 10px;
    font-weight: bold;
}

#diagramArea {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 300;
    position: relative;
    height: 85%;
}

#diagramHeadContainer {
    position: sticky; /* Keep it fixed relative to its nearest scrollable ancestor */
    top: 0;
    /* left: 0; */
    height: var(--asdf-head-height);
    overflow-y: hidden;
    overflow-x: hidden;
    visibility: hidden;
    z-index: 10;
    background-color: var(--asdf-body-bg-color);
}

#diagramContainer {
    overflow-y: auto;
    overflow-x: auto;
    font-weight: 300;
    height: 100%;
    position: relative;
    top: calc(0px - var(--asdf-head-height));
}

#divider {
    height: var(--asdf-divider-height);
    background: #ddd;
    cursor: row-resize;
}

#addinfoDisplay {
    height: calc(15vh - var(--asdf-divider-height));
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    background: var(--asdf-body-bg-color);
    overflow-y: auto;
    overflow-x: auto;
}

.content {
    margin-top: var(--asdf-toolbar-height);
    height: calc(100vh - var(--asdf-toolbar-height) - 12px);
}

.pagination .page-link {
    color: var(--bs-secondary);
    font-family: monospace;
    font-size: 12px;
    cursor: pointer;
}
.page-item .page-link {
    outline: none;
    box-shadow: none;
    color: inherit;
    background-color: inherit;
}

text.actor-text,
text.head-actor-text {
    cursor: pointer;
    font-weight: 100;
}
text.actor-text:hover,
text.head-actor-text:hover {
    /* stroke: lightgrey; */
    text-decoration: line-through;
    cursor: pointer;
}
text.actor-text.orphan-actor,
text.head-actor-text.orphan-actor {
    fill: lightgrey;
    text-decoration: none;
}
text.actor-text.orphan-actor:hover,
text.head-actor-text.orphan-actor:hover {
    stroke: none;
    cursor: default;
    text-decoration: none;
}
text.actor-text.filtered-actor,
text.head-actor-text.filtered-actor {
    fill: lightgrey;
    text-decoration: line-through;
}
text.actor-text.filtered-actor:hover,
text.head-actor-text.filtered-actor:hover {
    fill: black;
    stroke: black;
    cursor: pointer;
    text-decoration: none;
}

rect.actor-box,
rect.head-actor-box {
    rx: 5;
    ry: 5;
    stroke-width: 2px;
}
rect.actor-box.orphan-actor,
rect.head-actor-box.orphan-actor {
    stroke: none;
}
rect.actor-box.filtered-actor,
rect.head-actor-box.filtered-actor {
    stroke: none;
}

path.filtered-actor.actor-line {
    stroke: none;
}
path.orphan-actor.actor-line {
    stroke: none;
}
path.actor-line:not(.filtered-actor) {
    stroke-width: 1px;
}
path.signal-arrow {
    /* stroke-width: 1px; */
}

text.signal {
    /* fill:grey; */
    stroke: var(--asdf-body-bg-color); stroke-width: 8px; paint-order: stroke fill;
    cursor: pointer;
}
text.signal.same-id-signal:not(.instance-highlight-off) {
    stroke: var(--asdf-highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: black;
}
text.signal.same-id-signal.special-signal:not(.instance-highlight-off) {
    stroke: var(--asdf-highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--asdf-special-color);
}
text.signal.related-signal:not(.related-highlight-off) {
    stroke: var(--asdf-highlight-color2); stroke-width: 8px; paint-order: stroke fill;
    fill: black;
}
text.signal.related-signal.special-signal:not(.related-highlight-off) {
    stroke: var(--asdf-highlight-color2); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--asdf-special-color);
}
text.signal:hover {
    /* stroke: black; */
    /* stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill; */
    stroke: var(--asdf-highlight-color); stroke-width: 3px; paint-order: stroke fill;
    /* fill: black; */
    font-style: italic;
}
body.no-hover text.signal:hover:not(.active-signal) {
    stroke: none;
    font-style: normal;
}
text.special-signal {
    fill: var(--asdf-special-color);
    color: var(--asdf-special-color);
}
text.special-signal:hover {
    /* stroke: orangered; */
    stroke: var(--asdf-highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--asdf-special-color);
}
text.active-signal.special-signal {
    font-weight: bold;
    stroke: var(--asdf-highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--asdf-special-color);
    font-style: italic;
}
text.active-signal:not(.special-signal) {
    /* stroke: black; */
    font-weight: bold;
    font-style: italic;
    stroke: var(--asdf-highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: black;
}
text.seq-num.active-signal-seq-num {
    font-style: italic;
    /* stroke: black; */
}

circle.seq-num.active-signal-circle {
    /* stroke-width: 2; */
}
circle.seq-num.same-id-signal:not(.instance-highlight-off) {
    fill: var(--asdf-highlight-color);
}
circle.seq-num.related-signal:not(.related-highlight-off) {
    /* fill: var(--highlight-color2); */
}
text.seq-num {
    font-family: 'stdfont';
    font-size: 16px;
}
text.seq-num.same-id-signal {
    /* fill: white; */
    /* fill: darkkhaki; */
    /* fill: darkgrey; */
    /* fill: gainsboro; */
}
text.ts {
    font-family: 'stdfont';
    font-size: 20px;
    fill: darkgrey;
}
path.gridline {
    stroke: #f0f0f0;
    stroke-width: 1px;
}
text.ts.active-ts {
    fill: black;
    stroke: var(--asdf-highlight-color); stroke-width: 8px; paint-order: stroke fill;
    /* font-weight: bold; */
}

.move {
    cursor: pointer;
    opacity: 0.0;
    fill: black;
    transition: opacity 0.3s ease;
    transition-delay: 0.1s;
}
.move:hover {
    opacity: 1;
    fill: black;
    transition: opacity 0s ease;
}
