:root {
    --body-bg-color: #fafafa;
    --highlight-color: rgb(255, 255, 132);
    --highlight-color2: rgb(241, 255, 210);
    --highlight-color2: rgb(255, 255, 132);
    --special-color: orangered;
}

body {
    font-size: 10px;
    line-height: 1.5; 
    background: var(--body-bg-color);
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 100;
}


#main {
    padding: 10px;
}
text.actor-text {
    cursor: pointer;
    font-weight: 100;
}
text.actor-text:hover {
    /* stroke: lightgrey; */
    text-decoration: line-through;
    cursor: pointer;
}
text.actor-text.orphan-actor {
    fill: lightgrey;
    text-decoration: none;
}
text.actor-text.orphan-actor:hover {
    stroke: none;
    cursor: default;
    text-decoration: none;
}
text.actor-text.filtered-actor {
    fill: lightgrey;
    text-decoration: none;
}
text.actor-text.filtered-actor:hover {
    fill: black;
    stroke: black;
    cursor: pointer;
    text-decoration: none;
}

rect.actor-box {
    rx: 5;
    ry: 5;
    stroke-width: 2px;
}
rect.actor-box.orphan-actor {
    stroke: none;
}
rect.actor-box.filtered-actor {
    stroke: none;
}

path.filtered-actor.actor-line {
    stroke: none;
}
path.actor-line:not(.filtered-actor) {
    stroke-width: 1px;
}
path.signal-arrow {
    /* stroke-width: 1px; */
}

text.signal {
    /* fill:grey; */
    stroke: var(--body-bg-color); stroke-width: 8px; paint-order: stroke fill;
    cursor: pointer;
}
text.signal.same-id-signal:not(.instance-highlight-off) {
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: black;
}
text.signal.same-id-signal.special-signal:not(.instance-highlight-off) {
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--special-color);
}
text.signal.related-signal:not(.related-highlight-off) {
    stroke: var(--highlight-color2); stroke-width: 8px; paint-order: stroke fill;
    fill: black;
}
text.signal.related-signal.special-signal:not(.related-highlight-off) {
    stroke: var(--highlight-color2); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--special-color);
}
text.signal:hover {
    /* stroke: black; */
    /* stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill; */
    fill: black;
    font-style: italic;
}
text.special-signal {
    fill: var(--special-color);
    color: var(--special-color);
}
text.special-signal:hover {
    /* stroke: orangered; */
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--special-color);
}
text.clicked-signal.special-signal {
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: var(--special-color);
    font-style: italic;
}
text.clicked-signal:not(.special-signal) {
    /* stroke: black; */
    font-weight: 900;
    font-style: italic;
    stroke: var(--highlight-color); stroke-width: 8px; paint-order: stroke fill;
    fill: black;
}
text.seq-num.clicked-signal-seq-num {
    font-style: italic;
    /* stroke: black; */
}

circle.seq-num.clicked-signal-circle {
    /* stroke-width: 2; */
}
circle.seq-num.same-id-signal:not(.instance-highlight-off) {
    fill: var(--highlight-color);
}
circle.seq-num.related-signal:not(.related-highlight-off) {
    fill: var(--highlight-color2);
}
text.seq-num.same-id-signal {
    /* fill: white; */
    /* fill: darkkhaki; */
    /* fill: darkgrey; */
    /* fill: gainsboro; */
}

.move {
    cursor: pointer;
    opacity: 0.0;
    fill: black;
    transition: opacity 0.3s ease;
    transition-delay: 1s;
}
.move:hover {
    opacity: 1;
    fill: black;
    transition: opacity 0s ease;
}